Repository moquette-io/moquette, pull requests merged in 2023-02, with the labels that each got.

#714 Adds debug-enabled check for sessions loop assignments
  ChangeLog.txt
  broker/src/main/java/io/moquette/broker/MQTTConnection.java
  broker/src/main/java/io/moquette/broker/PostOffice.java
Labels: v0.17.0

#724 Fix/configurable queue sizes
  broker/src/main/java/io/moquette/BrokerConstants.java
  broker/src/main/java/io/moquette/broker/Server.java
  broker/src/main/java/io/moquette/broker/unsafequeues/PagedFilesAllocator.java
  broker/src/main/java/io/moquette/broker/unsafequeues/Queue.java
  broker/src/main/java/io/moquette/broker/unsafequeues/QueuePool.java
  broker/src/main/java/io/moquette/broker/unsafequeues/Segment.java
  broker/src/main/java/io/moquette/broker/unsafequeues/SegmentAllocator.java
  broker/src/main/java/io/moquette/broker/unsafequeues/VirtualPointer.java
  broker/src/main/java/io/moquette/persistence/SegmentQueueRepository.java
  broker/src/test/java/io/moquette/broker/unsafequeues/DummySegmentAllocator.java
  broker/src/test/java/io/moquette/broker/unsafequeues/QueuePoolTest.java
  broker/src/test/java/io/moquette/broker/unsafequeues/QueueTest.java
  broker/src/test/java/io/moquette/broker/unsafequeues/Utils.java
Labels: persistence, v0.17.0, unsafe queues

#728 Fix/add test for segment persistent queues
  broker/src/test/java/io/moquette/persistence/SegmentPersistentQueueTest.java
Labels: persistence, unsafe queues

#722 Fix/unsafe queues
  broker/src/main/java/io/moquette/broker/unsafequeues/Queue.java
  broker/src/main/java/io/moquette/broker/unsafequeues/QueuePool.java
  broker/src/main/java/io/moquette/broker/unsafequeues/Segment.java
  broker/src/test/java/io/moquette/persistence/SegmentPersistentQueueTest.java
Labels: persistence, bugfix, unsafe queues
